name: Build binary & run tests

on:
  pull_request:
    branches:
    - master

jobs:
  build:
    strategy:
      fail-fast: false
      matrix:
        os:
          # - macos-latest
          - ubuntu-latest
          # we'll wait for windows to get v5.x support
          # - windows-latest
        ocaml-compiler:
          # latest version supported by all platforms
          - "5.1.x"
    runs-on: ${{ matrix.os }}

    steps:
      - name: Checkout tree
        uses: actions/checkout@v4

      - name: Setup Node.js
        uses: actions/setup-node@v3
        with:
          check-latest: true

      - run: npm ci
        working-directory: browser

      - run: npm run lint
        working-directory: browser

      - run: npm run build
        working-directory: browser

      - run: npm test
        working-directory: browser

      - name: Cache OPAM
        uses: actions/cache@v3
        with:
          path: ~/.opam
          key: ${{ runner.os }}-opam-${{ matrix.ocaml-compiler }}-${{ hashFiles('**/*.opam') }}
          restore-keys: ${{ runner.os }}-opam-${{ matrix.ocaml-compiler }}-

      - name: Setup OCaml ${{ matrix.ocaml-compiler }}
        uses: ocaml/setup-ocaml@v2
        with:
          ocaml-compiler: ${{ matrix.ocaml-compiler }}

      - run: opam install . --deps-only --with-test
      - run: opam exec -- dune build --release
      - run: mv _build/default/bin/main.exe _build/issue
      - run: GITHUB_ACTIONS=1 opam exec -- dune runtest

      - name: Create a release
        uses: ncipollo/release-action@v1
        with:
          artifacts: _build/issue
          tag: use-ocaml-version-for-github-pages
          commit: use-ocaml-version-for-github-pages
